<div class="carte-profil">
    <img src="{{image}}">
    <div>
        <h2>Technologies utilisées :</h2>
        <div class="technologies">
            {{#each technologies}}
            <div class="tech-item">
                <img src="{{img}}" alt="{{name}}">
            </div>    
            {{/each}}
        </div>
    </div>
</div>
<div>
    <p>{{desc}}</p>
</div>