<div class="projet-content">
    <div class="swiper"></div>
    <h2>{{title}}</h2>
    <p>{{desc}}</p>
    <h2>Compétences :</h2>
    <ul>
        {{#each competences}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <button class="close-btn">Fermer</button>
</div>